.show-vehicle-container {
  padding: 20px;
  max-width: 2000px;
  margin-top: 700px;
  max-height: 2000px;
}

.details-card {
  background: #ffffff;
  padding: 18px;
  margin-top: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.details-card h3 {
  margin-bottom: 10px;
}

.back-btn {
  background: #0066ff;
  color: white;
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
}
